.main-container {
    display: flex;
}

.main-container-element {
    border: 1px solid black;
}

.main-container-left {
    width: 20%;
}

.main-container-right {
    width: 80%;
}

.app{
    padding: 30px;
}

.button-wrapper{
    display: flex;
    gap: 50px;
}